.FotterContainer {
    background-color: #F5F6FA;
}

.FotterText {
    font-weight: 700;
    width: 350px;
    margin-top: 50px;
    margin-left: 100px;
}

.FotterImage {
    width: 15%;
    height: 15%;
    margin-top: 50px;
    margin-left: 10%;
}

.FotterRigths {
    font-weight: 700;
    width: 200px;
    margin-top: 4%;
    margin-left: 20%;
}